---
layout: welcome
title: Fynda ditt drömhus
---


<section id="mainContent" class="grid_10">
    <article>
        <h2>Fynda ditt drömhus!</h2>
        <div class="wrapper">
          <!--
          <figure><img src="images/2page-img1.jpg" alt=""></figure>
           -->
            <h3>Välkommen till oss!</h3>
            
            <p>På denna sajt httar du alla Kronofogdens utmätta fastigheter som regelbundet säljs på exekutiv auktion.
            Det kan vara hus, gårdar eller obebyggda tomter.
            Dessutom är inte alla objekt fynd heller, men det är där denna sajt kommer in i bilden -
            vi hjälper dig att hitta guldkornen!
            Men hjälp av denna sajt kommer du kanske att hitta huset du alltid drömt om eller
            gården du inte visste att du hade råd med?
            <br/>
            Lycka till!
            </p>
            
        </div>
    </article>

    <article>
    <h2>Fynd just nu</h2>
    {% assign fynd = site.data.objects_by_diffvalue[0] %}
    
    <div class="wrapper">
        <figure><img src="{{fynd.imgurl}}" alt="" width="161" height="132"></figure>
        <h3><a href="{{fynd.url}}">{{ fynd.title }}</a></h3>
        <p>
        Diffvärde: {{fynd.valuediff}} <br/>
        Pris: {{fynd.marketvalue }} <br/>
        Taxeringsvärde: {{fynd.taxvalue}} <br/>
        <br/>
        <a href="fynd.html">Visa alla fynd</a>
        </p>
        
    </div>
    </article>


</section>









<aside class="grid_6">
    <div class="prefix_1">
        <article>
            <div class="box">


<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#ff0; clear:left; font:14px Helvetica,Arial,sans-serif;  width:200px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://ovrarydsgard.us6.list-manage2.com/subscribe/post?u=05100c0d3cd9c567b3207cc61&amp;id=115186f6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Anmälan till nyhetsbrevet</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_05100c0d3cd9c567b3207cc61_115186f6f0" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->



			</div>
        </article>

    </div>
</aside>




<aside class="grid_6">
    <div class="prefix_1">
        <article>
            <div class="box">
                <h2>Reklam</h2>
                <p>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- exeauk-first-right3 -->
		<ins class="adsbygoogle"
		    style="display:inline-block;width:250px;height:360px"
		    data-ad-client="ca-pub-4140889005946206"
		    data-ad-slot="5716669088"></ins>
		<script>
	    (adsbygoogle = window.adsbygoogle || []).push({});
	    </script>

                </p>
            </div>
        </article>

    </div>
</aside>


<!--
<div id="home">

    <h1>Fynda ditt drömhus!</h1>
  <p>
  Hos Kronofogden hittar du utmätta fastigheter som regelbundet auktioneras ut på exekutiv auktion.
  Inte alla objekt är fynd, men det är där denna sajt kommer in i bilden -
  vi hjälper dig att hitta guldkornen!
  </p>

  <p>
  Men hjälp av denna sajt kommer du kanske att hitta huset du alltid drömt om eller
  gården du inte visste att du hade råd med?
  </p>
  
  <p>
  Lycka till!
  </p>
 



    <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  
  <h2>Auktioner i kalenderordning</h2>
  <ul>
      {% for item in site.data.objects_by_date %}
      <li>
          {{ item.date }} -
          <a href="{{item.url}}">{{ item.title }}</a>
          Maknadsvärde: {{item.marketvalue}}
          Taxeringsvärde: {{item.taxvalue}}
          Diffvärde: {{item.valuediff}}
      </li>
      {% endfor %}
  </ul>


<h2>Objekt ordnade efter pris</h2>
<ul>
    {% for item in site.data.objects_by_marketvalue %}
    <li>
        {{ item.marketvalue }} -
        {{ item.date }}
        <a href="{{item.url}}">{{ item.title }}</a>
        Maknadsvärde: {{item.marketvalue}}
        Taxeringsvärde: {{item.taxvalue}}
        Diffvärde: {{item.valuediff}}
    </li>
    {% endfor %}
</ul>


<h2>Objekt ordnade efter fyndpotential</h2>
<ul>
    {% for item in site.data.objects_by_diffvalue %}
    <li>
        {{ item.valuediff }} -
        {{ item.date }}
        <a href="{{item.url}}">{{ item.title }}</a>
        Maknadsvärde: {{item.marketvalue}}
        Taxeringsvärde: {{item.taxvalue}}
        Diffvärde: {{item.valuediff}}
    </li>
    {% endfor %}
</ul>

</div>

 -->

