---
layout: default
title: Fynda ditt drömhus
---


<section id="mainContent" class="grid_10">
    <article>
        <h2>Fynda ditt drömhus!</h2>
        <div class="wrapper">
          <!--
          <figure><img src="images/2page-img1.jpg" alt=""></figure>
           -->
            <h3>Välkommen till oss!</h3>
            
            <p>På denna sajt httar du alla Kronofogdens utmätta fastigheter som regelbundet säljs på exekutiv auktion.
            Inte alla objekt är fynd, men det är där denna sajt kommer in i bilden -
            vi hjälper dig att hitta guldkornen!
            Men hjälp av denna sajt kommer du kanske att hitta huset du alltid drömt om eller
            gården du inte visste att du hade råd med?
            <br/>
            Lycka till!
            </p>
            
        </div>
    </article>

    <article>
    <h2>Fynd just nu</h2>
    {% assign fynd = site.data.objects_by_diffvalue[0] %}
    
    <div class="wrapper">
        <figure><img src="{{fynd.imgurl}}" alt="" width="161" height="132"></figure>
        <h3><a href="{{fynd.url}}">{{ fynd.title }}</a></h3>
        <p>
        Diffvärde: {{fynd.valuediff}} kr <br/>
        Marknadsvärde: {{fynd.marketvalue }} kr<br/>
        Taxeringsvärde: {{fynd.taxvalue}} kr<br/>
        </p>
        
    </div>
    </article>


</section>



<aside class="grid_6">
    <div class="prefix_1">
        <article>
            <div class="box">
                <h2>Reklam</h2>
                <h3><a href="#">Sed ut perspiciatis unde</a></h3>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
            </div>
        </article>

    </div>
</aside>


<!--
<div id="home">

    <h1>Fynda ditt drömhus!</h1>
  <p>
  Hos Kronofogden hittar du utmätta fastigheter som regelbundet auktioneras ut på exekutiv auktion.
  Inte alla objekt är fynd, men det är där denna sajt kommer in i bilden -
  vi hjälper dig att hitta guldkornen!
  </p>

  <p>
  Men hjälp av denna sajt kommer du kanske att hitta huset du alltid drömt om eller
  gården du inte visste att du hade råd med?
  </p>
  
  <p>
  Lycka till!
  </p>
 



    <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  
  <h2>Auktioner i kalenderordning</h2>
  <ul>
      {% for item in site.data.objects_by_date %}
      <li>
          {{ item.date }} -
          <a href="{{item.url}}">{{ item.title }}</a>
          Maknadsvärde: {{item.marketvalue}}
          Taxeringsvärde: {{item.taxvalue}}
          Diffvärde: {{item.valuediff}}
      </li>
      {% endfor %}
  </ul>


<h2>Objekt ordnade efter pris</h2>
<ul>
    {% for item in site.data.objects_by_marketvalue %}
    <li>
        {{ item.marketvalue }} -
        {{ item.date }}
        <a href="{{item.url}}">{{ item.title }}</a>
        Maknadsvärde: {{item.marketvalue}}
        Taxeringsvärde: {{item.taxvalue}}
        Diffvärde: {{item.valuediff}}
    </li>
    {% endfor %}
</ul>


<h2>Objekt ordnade efter fyndpotential</h2>
<ul>
    {% for item in site.data.objects_by_diffvalue %}
    <li>
        {{ item.valuediff }} -
        {{ item.date }}
        <a href="{{item.url}}">{{ item.title }}</a>
        Maknadsvärde: {{item.marketvalue}}
        Taxeringsvärde: {{item.taxvalue}}
        Diffvärde: {{item.valuediff}}
    </li>
    {% endfor %}
</ul>

</div>

 -->

