---
layout: default
title: Fastighet
---

<!--
- skriv ut all data i en JS struktur
- läs in parameter från URL
- leta upp rätt data o skriv ut på sidan
         , "{ { site.geocodes[forloop.index].lat } } " 
-->

<script>
 var items = [];
 var z;
 
 {% for obj in site.data.objects_by_date %}
   z = [ "{{ obj.title }}", "{{obj.url}}"]
   items.push(z);
 {% endfor %}


var i = window.location.search.replace( "?", "" );
//alert("found idx=" + i);
alert("title=" + items[i][0] + " == " + items[i][1]);

</script>

<!--
<section id="mainContent" class="grid_10">
    <article>
        <h2>Fastigheter ordnade efter fyndpotential</h2>
        <div class="wrapper">
            <p>
            Här listas alla fastigheter baserat på den absoluta skillnaden mellan marknadsvärde och taxeringsvärde. Desto lägre marknadsvärde jämfört med taxeringsvärdet - desto större fyndpotential!
            
            Här har vi gjort grovjobbet åt dig. Du kan börja leta efter din drömfastighet
            bland de som troligen har det bästa priset.
            </p>
            
        </div>
    </article>


  {% for fynd in site.data.objects_by_date %}
    <article>
        <div class="wrapper">
            <figure><img src="{{fynd.imgurl}}" alt="" width="161" height="132"></figure>
            <h3><a href="{{fynd.url}}">{{ fynd.title }}</a></h3>
            <p>
            Diffvärde: {{fynd.valuediff}}  <br/>
            Pris: {{fynd.marketvalue }} <br/>
            Taxeringsvärde: {{fynd.taxvalue}} <br/>
                       </p>
            
        </div>
    </article>
    {% endfor %}

    
</section>
-->
