---
layout: default
title: Fastighet
---

<!--
- skriv ut all data i en JS struktur
- läs in parameter från URL
- leta upp rätt data o skriv ut på sidan

  //{{forloop.index}}
  // {{site.data.geocodes[0]}}
  // {{site.data.geocodes[0].lat}}
  // "{{site.data.geocodes[forloop.index] }}" 
  // "{{site.data.geocodes[forloop.index].lat }}" 

-->

<script>
 var items = [];
 var z;
 
 {% for obj in site.data.objects_by_date %}
  
   z = [ "{{ obj.title }}", "{{obj.url}}"
   , "{{site.data.geocodes[forloop.index].lat }}", "{{site.data.geocodes[forloop.index].lng }}" 
   ]
   items.push(z);
 {% endfor %}


var i = window.location.search.replace( "?", "" );
//alert("found idx=" + i);
//alert("title=" + items[i][0] + " == " + items[i][2]);


</script>


<div id="map_canvas" style="width: 100px;
    height: 200px;
    background-color: #CCC;"></div>


<!--
<section id="mainContent" class="grid_10">
    <article>
        <h2>Fastigheter ordnade efter fyndpotential</h2>
        <div class="wrapper">
            <p>
            Här listas alla fastigheter baserat på den absoluta skillnaden mellan marknadsvärde och taxeringsvärde. Desto lägre marknadsvärde jämfört med taxeringsvärdet - desto större fyndpotential!
            
            Här har vi gjort grovjobbet åt dig. Du kan börja leta efter din drömfastighet
            bland de som troligen har det bästa priset.
            </p>
            
        </div>
    </article>


  {% for fynd in site.data.objects_by_date %}
    <article>
        <div class="wrapper">
            <figure><img src="{{fynd.imgurl}}" alt="" width="161" height="132"></figure>
            <h3><a href="{{fynd.url}}">{{ fynd.title }}</a></h3>
            <p>
            Diffvärde: {{fynd.valuediff}}  <br/>
            Pris: {{fynd.marketvalue }} <br/>
            Taxeringsvärde: {{fynd.taxvalue}} <br/>
                       </p>
            
        </div>
    </article>
    {% endfor %}

    
</section>
-->

<!--
maps: sverige, regionalt, lokalt, street view

-->

	<script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var myLatlng = new google.maps.LatLng(items[i][2], items[i][3]);
        var map_options = {
          center: new google.maps.LatLng(63,14),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI : true,
          draggable: false,
          disableDoubleClickZoom: true,
          mapTypeControl: false,
          panControl: false,
          rotateControl: false,
          scaleControl: false,
          scrollwheel: false
        }
        var map = new google.maps.Map(map_canvas, map_options)
        
       
        var marker = new google.maps.Marker({
           position: myLatlng,
           map: map,
           title: 'items[i][0]'
        });
   
      }
      initialize();
      //google.maps.event.addDomListener(window, 'load', initialize);
    </script>
